{% extends "base.html" %}

{% block html_title %} - Password reset{% endblock %}

{% block content %}

{% if validlink %}

<div id="activation_wrapper">

	<h1>Enter new password</h1>

	<p class="content">Please enter your new password (twice, so we can verify that you typed it in correctly).</p>

	<form id="password_reset" action="" method="post">
	    {% csrf_token %}
		{{ form.new_password1.errors }}
		<p class="aligned wide"><label for="id_new_password1">New password</label>{{ form.new_password1 }}</p>
		{{ form.new_password2.errors }}
		<p class="aligned wide"><label for="id_new_password2">Confirm password</label>{{ form.new_password2 }}</p>
		<div id="form-action">
			<input class="button" type="submit" id="password_reset_button" value="Reset my password" />
		</div>
	</form>
	</div>
</div>

{% else %}

<div id="activation_wrapper">
	<h1>Password reset unsuccessful</h1>
	<p class="content">The password reset link was invalid, possibly because it has already been used</p>
	<div id="form-action">
		<a href="{% url auth_password_reset %}">Click here to request a new password reset</a>
	</div>
</div>

{% endif %}

{% endblock %}
