{% extends "base.html" %}

{% block html_title %} - Password reset{% endblock %}

{% block content %}
<div id="activation_wrapper">

	<h1>Password reset</h1>

	<p class="content">Forgotten your password? Enter your email address below and we'll send you easy instructions on how to set a new one.</p>

	<form id="password_reset" method="post" action="?ap={{request.REQUEST.ap}}&b={{request.REQUEST.b}}">
	    {% csrf_token %}
	    {{ form.email.errors }}
	<p><label for="id_email">E-mail address:</label> {{ form.email }}</p> 

	<div id="form-action">
		<input class="button" type="submit" id="password_reset_button" value="Reset my password" />
	</div>
	</form>
</div>

{% endblock %}
