<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>					
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>			
		<title>Cromongo - Server error</title>
		
		<link rel="icon" href="/static/images/favicon.ico" type="image/gif" />
		
		<meta name="robots" content="all,index,follow" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<link rel="stylesheet" href="/static/css/import.css" type="text/css" />

	</head>
	
	<body>

        <h1>Ouch!</h1>
        <h2>We're sorry - a server error has occurred</h2>
        <p>This means your request cannot be fulfilled. Please use your browser's 'back' button and try again.</p>
        <p>We have been notified of the error and will address it as soon as possible.</p>

	</body>
</html>
